/* reset settings and give flex to the body */
body{
    background:#1F2937;
    margin: 0;
    padding: 20px;
    border: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    flex:0;
}
body button{
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
}

/*--------------------------------*/

header{
    width: 100%;
    background: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex:0;
}
header > .logo{
    /*maybe a style later*/
}
header > .links-right{
    display: flex;
    flex-direction: row;
    gap: .5em;
    font-size: x-small;
    font-family: monospace;
}
.links-right > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------*/

.top-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}
.top-box > div{
    display: flex;
    align-items: flex-start;
}
.left-box{
    flex-direction: column;
    flex-basis:500px;
    gap: 1em;
    color: white;
}
.top-box > .right-box{
    align-items: center;

}
.right-box{
    justify-content: center;
    flex-basis: 500px;
    background: #e5e7eb;
    color:black;
    height: inherit;
}

.big-brag{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*--------------------------------*/

.useless{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: xx-large;
    background: white;
    height: 100px;
    width: 100vw;
}

/*--------------------------------*/

.card-holder{
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    gap:2em;
    flex-wrap: wrap;

}
.cards{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    gap:4px;
}
.card{
    border: 4px solid #3882f6;
    border-radius: 9px;
    width: 140px;
    height: 140px;

}
.description{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*--------------------------------*/

.quote{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    background: white;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: monospace;
    font-size: x-large;
    gap: 1em;
}
.quote-author{
    font-weight: bold;
}

/*--------------------------------*/

footer{
    background: white;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;


}
.bottom-box{
    background-color: #3882f6;
    border-radius: 6px;
    width: 350px;
    margin: 30px;
    padding: 15px;
    padding-top :35px;
    padding-bottom :35px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 0px;
    gap:1em;
}
.hook{
    font-weight: bolder;
    font-family: fantasy;
    gap:.3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.hook > div{
    font-family: monospace;
    font-size: x-small;
    font-weight: lighter;
}
.bottom-box>button{
    flex:0 0 70px;
    border: 1px solid;
}
footer >.cr{
    font-family: monospace;
    font-size: xx-small;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 20px;
    width: 100vw;
}